# =========================
# SERVER
# =========================
PORT=XXXX
HOST=X.X.X.X

# =========================
# DATABASE
# =========================
DB_DIALECT=sqlite // mysql
DB_STORAGE=./database.sqlite

# =========================
# SECURITY
# =========================
JWT_SECRET=SECRET_Key


# =========================
# CORS
# =========================
CORS_ORIGINS=""

# =========================
# DEV OPTIONS
# =========================
DROP_DATABASE_AT_LAUNCH=0